10/08

1. list의 정보에는 대괄호를 이용해서 접근한다.
컴퓨터에서는 숫자를 0번째부터 센다.

In [4]:
a=[1,2]
b=[3,4]

In [5]:
c=a[0]+b[0]

In [6]:
c

4

2. float라는 함수는 variable을 float로 바꿔준다.

In [7]:
a=1

In [8]:
float(a)

1.0

In [10]:
type(float(a))

float

In [11]:
a=float(a)

In [12]:
a

1.0

In [13]:
type(a)

float

In [14]:
a=1.2

In [15]:
a=int(a)

In [16]:
type(a)

int

3. 내부정보를 쓸 때는 대괄호 사용.
'123'과 123은 다르다.

In [17]:
a='123'

In [19]:
type(a)

str

In [20]:
print(a[1])

2

In [21]:
a=123

In [22]:
print(a[1])

TypeError: 'int' object is not subscriptable

4. list 함수는 문자를 쪼개준다.

In [23]:
a='123'

In [24]:
list(a)

['1', '2', '3']

5. dictionary의 pair에서는, 앞부분(표제어)를 index로 대괄호 안에 넣어준다. 표제어는 string뿐만 아니라 int도 될 수 있다.

In [28]:
a={"a":"apple","b":"banana"}

In [29]:
print(a["a"])

apple

6. list와 tuple

In [30]:
a=[(1,2,3),(3,8,0)]

In [31]:
print(type(a))

<class 'list'>

In [32]:
print(type(a[0]))

<class 'tuple'>

string

1. string의 정보접근방식(대괄호와 :사용)은 list와 같다. print out을 여러 개 하고 싶으면 콤마로 연결한다. 정보접근에서 -는, 0부터 거꾸로(뒤로) 센다.

In [33]:
s='abcdef'

In [34]:
s[1], s[-1], s[0]

('b', 'f', 'a')

2. 여러개의 정보를 range로 가져올 때는 ‘:’ 으로 연결. 
s[1:3]이면, 첫 번째에서 두 번째까지 불러오는 것. (세 번째 직전까지)

In [35]:
s[1:]

'bcdef'

In [36]:
s[:3]

'abc'

In [37]:
s[:]

'abcdef'

len: variable 내의 정보의 길이 (정보의 개수)

In [38]:
len(s)

6

.upper() 대문자로 바꿔줌

In [40]:
s.upper()

'ABCDEF'

In [46]:
s = " this is a house built this year.\n"

find: string 속에서 원하는 정보를 찾아준다. 문장 속에서 두 번 나오면, 제일 처음 나온 것으로

In [47]:
s.find('house')

11

rindex: 문자열의 뒤쪽부터 정보를 찾아서, 다시 왼쪽부터 카운트한다.

In [48]:
s.rindex('this')

23

strip: 잡스러운 것들을 다 지우고, 순수한 text만 남겨준다.

In [50]:
s=s.strip()

In [51]:
s

'this is a house built this year.'

split(' ') space 단위로 쪼갠다. 단어 수준에서 작업을 하고 싶을 때 사용한다.

In [52]:
tokens=s.split(' ')

In [53]:
tokens

['this', 'is', 'a', 'house', 'built', 'this', 'year.']

' '.join(tokens) space를 이용해서 tokens의 list를 붙여준다.

In [54]:
s=' '.join(tokens)

In [55]:
s

'this is a house built this year.'

replace('a','b'): string 안의 모든 a를 b로 바꿔라

In [57]:
s.replace('this','that')

'that is a house built that year.'