10/08

1. list의 정보에는 대괄호를 이용해서 접근한다.
컴퓨터에서는 숫자를 0번째부터 센다.

In [4]:
a=[1,2]
b=[3,4]

In [5]:
c=a[0]+b[0]

In [6]:
c

4

2. float라는 함수는 variable을 float로 바꿔준다.

In [7]:
a=1

In [8]:
float(a)

1.0

In [10]:
type(float(a))

float

In [11]:
a=float(a)

In [12]:
a

1.0

In [13]:
type(a)

float

In [14]:
a=1.2

In [15]:
a=int(a)

In [16]:
type(a)

int

3. 내부정보를 쓸 때는 대괄호 사용.
'123'과 123은 다르다.

In [17]:
a='123'

In [19]:
type(a)

str

In [20]:
print(a[1])

2

In [21]:
a=123

In [22]:
print(a[1])

TypeError: 'int' object is not subscriptable

4. list 함수는 문자를 쪼개준다.

In [23]:
a='123'

In [24]:
list(a)

['1', '2', '3']

5. dictionary의 pair에서는, 앞부분(표제어)를 index로 대괄호 안에 넣어준다. 표제어는 string뿐만 아니라 int도 될 수 있다.

In [28]:
a={"a":"apple","b":"banana"}

In [29]:
print(a["a"])

apple

6. list와 tuple

In [30]:
a=[(1,2,3),(3,8,0)]

In [31]:
print(type(a))

<class 'list'>

In [32]:
print(type(a[0]))

<class 'tuple'>

string

1. string의 정보접근방식(대괄호와 :사용)은 list와 같다. print out을 여러 개 하고 싶으면 콤마로 연결한다. 정보접근에서 -는, 0부터 거꾸로(뒤로) 센다.

In [33]:
s='abcdef'

In [34]:
s[1], s[-1], s[0]

('b', 'f', 'a')

2. 여러개의 정보를 range로 가져올 때는 ‘:’ 으로 연결. 
s[1:3]이면, 첫 번째에서 두 번째까지 불러오는 것. (세 번째 직전까지)

In [35]:
s[1:]

'bcdef'

In [36]:
s[:3]

'abc'

In [37]:
s[:]

'abcdef'

len: variable 내의 정보의 길이 (정보의 개수)

In [38]:
len(s)

6

.upper() 대문자로 바꿔줌

In [40]:
s.upper()

'ABCDEF'

In [46]:
s = " this is a house built this year.\n"

find: string 속에서 원하는 정보를 찾아준다. 문장 속에서 두 번 나오면, 제일 처음 나온 것으로

In [47]:
s.find('house')

11

rindex: 문자열의 뒤쪽부터 정보를 찾아서, 다시 왼쪽부터 카운트한다.

In [48]:
s.rindex('this')

23

strip: 잡스러운 것들을 다 지우고, 순수한 text만 남겨준다.

In [50]:
s=s.strip()

In [51]:
s

'this is a house built this year.'

split(' ') space 단위로 쪼갠다. 단어 수준에서 작업을 하고 싶을 때 사용한다.

In [52]:
tokens=s.split(' ')

In [53]:
tokens

['this', 'is', 'a', 'house', 'built', 'this', 'year.']

' '.join(tokens) space를 이용해서 tokens의 list를 붙여준다.

In [54]:
s=' '.join(tokens)

In [55]:
s

'this is a house built this year.'

replace('a','b'): string 안의 모든 a를 b로 바꿔라

In [57]:
s.replace('this','that')

'that is a house built that year.'

10/10

syntax-for loop, if 중점

for loop
print out 행위에 for을 붙여서 계속 반복함.
문법- for in :
뜻- in 뒤에 있는 것을 하나씩 돌려서, 한번한번 할 때마다 i로 받아서 뭔가를 하라. (뭘 할지는for 밑에 적어줌)
a에 있는 것들을 하나하나씩 돌려서 i에 할당함. 
ex)a=[1,2,3,4] 이면 처음엔 1이 i로 들어가고 2가 i로 들어가고 순서대로 감.

In [60]:
a=[1,2,3,4]
for i in a:
    print(i)

1
2
3
4

range 함수를 쓸 수도 있다. (for loop 쓰는 두 번째 방법)

range 함수는 index를 만들어줌. (4개면 0,1,2,3) 그 0,1,2,3을 i가 받는 것이다. 즉, 첫 번째 for loop에서 i는 0 값을 지님.

In [61]:
a=[1,2,3,4]
for i in range(4):
    print(a[i])

1
2
3
4

In [62]:
a=[1,2,3,4]

In [64]:
for i in range(len(a)):
    print(a[i])

1
2
3
4

In [65]:
for i in range(4):
    print(i)

0
1
2
3

In [67]:
a=[1,2,3,4,5,6,7]
for i in range(len(a)):
    print(a[i])

1
2
3
4
5
6
7

In [70]:
a=[1,2,3,4,5,6,7]
for i in a:
    print(i)

1
2
3
4
5
6
7

In [72]:
a=["red","green","blue","purple"]
print(a[0])
print(a[1])
print(a[2])
print(a[3])

red
green
blue
purple

위와는 달리 variable 수가 많으면 하나하나 쳐주기 힘들다.

for loop 쓰면 한 번에 할 수 있음. s variable은 for loop를 네 번 돌면서 계속 바뀌는데, 바뀌는 족족 print out이 됨.

In [73]:
a=["red","green","blue","purple"]
for s in a:
    print(s)

red
green
blue
purple

In [75]:
a=["red","green","blue","purple"]
for s in range(len(a)):
    print(a[s])

red
green
blue
purple

위의 예시에서 print(s) 한다면, 0,1,2,3 나옴 (a와 연관짓지 않았기 때문)

In [77]:
a=["red","green","blue","purple"]
for s in range(len(a)):
    print(s)

0
1
2
3

for in enumerate 함수
enumerate (열거하다, 번호를 매기다)

enumerate(a): a에 번호를 매긴다.
variable이 두 개가 나온다. (i,s)
i에는 0,1,2,3, s에는 a의 variable들이 할당됨

i 하나만 나왔으면 i가 red green 등등을 받았겠지만, enumerate 함수를 썼으므로 앞의 변수는 index 번호를 받고, 뒤의 변수가 list를 받음
즉, 첫번째 loop가 돌 때 i는 0을 받고, s는 red를 받음.

In [81]:
a=["red","green","blue","purple"]
b=[0.2,0.3,0.1,0.4]
for i,s in enumerate(a):
    print(a[i])

red
green
blue
purple

이러한 형태의 format으로 적고 싶을 때, 뿌려주고 싶은 variable만큼 {}를 적는다. 그리고 format 뒤에 콤마로 구분된 것들이 {} 안으로 들어가는 것. 즉 format 안의 개수랑 중괄호 수랑 같아야 함.

예를 들어, 첫번째 loop에서 i에는 0, s는 red를 물고 들어간다. b[i]는 0.2고, 100 곱하면 20. 그리고 s는 red이므로 red:20% 이 출력됨.

In [82]:
a=["red","green","blue","purple"]
b=[0.2,0.3,0.1,0.4]
for i,s in enumerate(a):
    print("{}:{}%".format(s,b[i]*100))

red:20.0%
green:30.0%
blue:10.0%
purple:40.0%

In [83]:
a=["red","green","blue","purple"]
b=[0.2,0.3,0.1,0.4]
for i,s in enumerate(a):
    print("{}-{}".format(s,b[i]*10))

red-2.0
green-3.0
blue-1.0
purple-4.0

for s,i in zip(a,b)는 a,b가 s,i에 들어감.

In [84]:
a=["red","green","blue","purple"]
b=[0.2,0.3,0.1,0.4]
for s,i in zip(a,b):
    print("{}:{}%".format(s,i*100))

red:20.0%
green:30.0%
blue:10.0%
purple:40.0%

if

=는 '같다'의 뜻이 아님 (정보를 입력한다는 것)
'같다'의 의미는 == 임.

if: 뭐뭐하면 뭐뭐해라에서 "~하라"라는 부분: indent라고 함

if a==0 (a가 0이라면)
if a!=0 (a가 0이 아니라면)
if a>0 (a가 0보다 크거나 같다면)
if & else (이거라면 이거하고 아니면 저거하고)
else 다음에도 반드시 : 붙여줘야 함

In [87]:
a=0
if a==0:
    print("yay!")

yay!

In [91]:
a=1
if a==0:
    print("yay!")
else:
    print("hey!!")

hey!!

loop가 hierarchical한 경우
제일 큰 loop와 각 loop에 몇번의 loop가 딸리는지 계산할 수 있어야 함.

In [92]:
for i in range(1,3):
    for j in range(3,5):
        print(i*j)

3
4
6
8

In [93]:
for i in range(1,3):
    for j in range(3,5):
        if j>=4:
            print(i*j)

4
8

In [96]:
for i in range(1,3):
    if i>=3:
        for j in range(3,5):
            print(i*j)